<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<nav class="w-full h-12 bg-zinc-300">
    <div class="left  flex gap-10 text-3xl text-black font-bold font-[foldit] justify-center items-center p-2">
        <a href="/user">home</a>
        <a href="/user/register">register</a>
        <a href="/user/login">login</a>
        <a href="/user/profile">profile</a>
        <a href="/user/logout">logout</a>
        <a href="/property/propertidata">all-properties</a>
        <a href="/appointment/appointmentdata">all-appointments</a>
    </div>

</nav>

<script src="https://cdn.tailwindcss.com"></script>

</body>
</html>