<%-include("./partials/header") %>

<div class="form w-full h-screen bg-pink-300 p-1 ">
<%-include("./partials/nav") %>

  <h1 class="text-3xl text-blue-500 text-center capitalize font-bold">login </h1>

  <div class="formdiv w-1/2 bg-green-100  p-10 rounded-lg ml-80">
    <form action="/user/login" method="post">
      <input type="email" name="email" id="" placeholder="enter your email" class="w-full text-3xl rounded-lg p-2 border-2 border-black mb-5">
      <input type="password" name="password" id="" placeholder="enter your password" class="w-full text-3xl rounded-lg p-2 border-2 border-black mb-5">
      <input type="submit" name="" id="" class="w-1/4 text-3xl rounded-lg p-2 border-2 border-black mb-5 ml-60">
    </form>
    <a href="/forgetpassword" class="text-blue-500 font-bold">forgetpassword</a>
  </div>

</div>


<%-include("./partials/footer") %>